.left-nav {
  position: fixed;
  bottom: 0px;
  top: 0px;
  left: 0px;
  width: 265px;
  background: #323441;

  h3 {
    color: #ededed;
    font-size: 15px;
    background: #1e1e1e;
    margin: 0px;
    padding: 13px;
    padding-left: 18px;
  }

  ul.friend-list {
    list-style: none;
    padding-left: 15px;

    li {
      color: #bbbbbb;
      font-size: 13px;
      padding: 10px 5px;
      cursor: pointer;
      margin-bottom: 5px;

      i {
        font-size: 14px;
        margin-right: 10px;
        position: relative;
        top: 2px;
      }

      i.online {
        color: chartreuse;
      }
    }
  }
}
