@import '../../../global';

header {
  background: #ededed;
  padding: 10px 15px;

  .chat-heading {
    color: #323441;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 3px;
  }
}
