<div class="modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <span class="heading">Update Profile</span>
      <i class="material-icons menu-icon" (click)="onClose()">close</i>
    </div>
    <div class="modal-body">
      <form action="" class="profile-update-form">
        <label for="">First Name</label>
        <input type="text" />
        <label for="">Last Name</label>
        <input type="text" />
        <label for="">Country</label>

        <select (change)="onCountrySelect($event.target.value)">
          <option *ngFor="let country of countries" [value]="country.alpha3Code">{{ country.name }}</option>
        </select>

        <label for="">Alpha 2 Code</label>
        <div class="flag-holder">
          <img [src]="selectedCountry['flag']" class="flag-image" [alt]="selectedCountry['name']" />
          <input type="text" [value]="selectedCountry['alpha2Code']" />
        </div>

        <label for="">Phone Number</label>
        <input type="text" [value]="selectedCountry['callingCodes'][0]" />
        <label for="">Currency</label>
        <input type="text" [value]="selectedCountry['currencies'][0]['code']" />
        <label for="">Time Zone</label>
        <input type="text" [value]="selectedCountry['timezones'][0]" />
        <button class="btn-save">Save Details</button>
      </form>
    </div>
  </div>
</div>
