<div class="modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <span class="heading">Update Profile</span>
      <i class="material-icons menu-icon">close</i>
    </div>
    <div class="modal-body">
      <form action="" class="profile-update-form">
        <label for="">First Name</label>
        <input type="text" />
        <label for="">Last Name</label>
        <input type="text" />
        <label for="">Country</label>
        <select name="" id="">
          <option value="">India</option>
          <option value="">UK</option>
          <option value="">Latvia</option>
          <option value="">Bulgaria</option>
        </select>
        <label for="">Alpha 2 Code</label>
        <div class="flag-holder">
          <img
            src="https://restcountries.eu/data/ind.svg"
            class="flag-image"
            alt="India"
          />
          <input type="text" />
        </div>

        <label for="">Phone Number</label>
        <input type="text" />
        <label for="">Currency</label>
        <input type="text" />
        <label for="">Time Zone</label>
        <input type="text" />
        <button class="btn-save">Save Details</button>
      </form>
    </div>
  </div>
</div>
